<div [formGroup]="form">
  <div class="form-group">
    <label>
      {{ 'EMAIL_INPUT.LABEL.EMAIL' | translate }}
      <span class="required" *ngIf="!readonly">*</span> <!-- Étoile seulement si non readonly -->
    </label>
    <input
      type="email"
      [formControlName]="emailControlName"
      class="form-control"
      [placeholder]="'EMAIL_INPUT.PLACEHOLDER.EMAIL' | translate"
      [ngClass]="{
        'is-invalid': (submitted || form.get(emailControlName)?.touched) && (form.get(emailControlName)?.invalid || fieldError[emailControlName]),
        'readonly': readonly
      }"
      [readonly]="readonly"
    />
    <div
      class="invalid-feedback"
      *ngIf="(submitted || form.get(emailControlName)?.touched) && (form.get(emailControlName)?.invalid || fieldError[emailControlName])"
    >
      <div *ngIf="fieldError[emailControlName]">
        {{ fieldError[emailControlName] | translate }}
      </div>
      <div *ngIf="!fieldError[emailControlName] && form.get(emailControlName)?.invalid && !readonly">
        <ng-container *ngIf="form.get(emailControlName)?.hasError('required')">
          {{ 'EMAIL_INPUT.ERROR.EMAIL_REQUIRED' | translate }}
        </ng-container>
        <ng-container *ngIf="form.get(emailControlName)?.hasError('email')">
          {{ 'EMAIL_INPUT.ERROR.EMAIL_INVALID' | translate }}
        </ng-container>
      </div>
    </div>
  </div>
</div>
