<div class="legal-consent-container">
  <div *ngFor="let doc of documentTypes" class="form-check mb-3">
    <input
      type="checkbox"
      class="form-check-input"
      [id]="doc.name"
      [(ngModel)]="selectedConsents[doc.name]"
      (ngModelChange)="onCheckboxChange(doc.name)"
      name="consent_{{ doc.name }}"
      [ngClass]="{'is-invalid': isInvalid(doc.name)}"
    />
    <div class="label-container">
      <label
        class="form-check-label"
        (click)="openFloatingWindow(doc.name)"
        style="cursor: pointer;"
      >
        {{ doc.label || doc.name }}
        <span class="required" *ngIf="requiredDocumentTypes.includes(doc.name)">*</span>
      </label>
      <p class="text-muted small mb-0">{{ doc.description }}</p>
    </div>
  </div>
</div>
