<div class="form-container" id="invitation-form-container">
  <form [formGroup]="invitationForm" (ngSubmit)="onSubmit()" class="horizontal-form">
    <div class="form-row">


      <!-- Email avec EmailInputComponent -->
      <div class="form-group">
        <app-email-input
          [form]="invitationForm"
          [fieldError]="fieldError"
          emailControlName="invitationEmail"
          [submitted]="validationTriggered"
        ></app-email-input>
      </div>

      <!-- Autres admins -->
      <ng-container *ngIf="!isSuperadmin">
        <div class="form-group">
          <label for="role">{{ 'INVITE.LABEL.ROLE' | translate }}</label>
          <select
            id="role"
            formControlName="role"
            class="form-control"
            [ngClass]="{'is-invalid': validationTriggered && invitationForm.get('role')?.invalid}"
          >
            <option value="">{{ 'INVITE.PLACEHOLDER.ROLE' | translate }}</option>
            <option *ngFor="let roleItem of roles" [value]="roleItem.roleId">{{ roleItem.name }}</option>
          </select>
          <div *ngIf="validationTriggered && invitationForm.get('role')?.invalid" class="invalid-feedback">
            {{ 'INVITE.ERROR.FRONTEND.MISSING_FIELD.ROLE' | translate }}
          </div>
        </div>
      </ng-container>

      <!-- Bouton -->
      <div class="form-group button-container">
        <button type="submit" class="btn-submit">
          {{ isSuperadmin ? ('INVITE.BUTTON.INVITE_ENTITY' | translate) : ('INVITE.BUTTON.INVITE_COLLEAGUE' | translate) }}
        </button>
      </div>
    </div>
  </form>
</div>
