<div class="form-container" id="invitation-form-container">
  <form [formGroup]="invitationForm" (ngSubmit)="onSubmit()" class="horizontal-form">
    <div class="form-row">
      <!-- Formulaire pour superadmin -->
      <ng-container *ngIf="isSuperadmin">
        <div class="form-group">
          <label for="entity">{{ 'INVITE.LABEL.ENTITY_TYPE' | translate }}</label>
          <select
            id="entity"
            formControlName="entity"
            class="form-control"
            [ngClass]="{'is-invalid': validationTriggered && invitationForm.get('entity')?.invalid}"
          >
            <option [ngValue]="null">{{ 'INVITE.PLACEHOLDER.ENTITY_TYPE' | translate }}</option>
            <option *ngFor="let entityType of entityTypes" [ngValue]="entityType">
              {{ entityType.nameTranslation }}
            </option>
          </select>
          <div *ngIf="validationTriggered && invitationForm.get('entity')?.invalid" class="invalid-feedback">
            {{ 'INVITE.ERROR.FRONTEND.MISSING_FIELD.ENTITY' | translate }}
          </div>
        </div>

        <div class="form-group">
          <label for="name">{{ 'INVITE.LABEL.ENTITY_NAME' | translate }}</label>
          <input
            type="text"
            id="name"
            formControlName="name"
            [placeholder]="'INVITE.PLACEHOLDER.ENTITY_NAME' | translate"
            class="form-control"
            [ngClass]="{'is-invalid': validationTriggered && invitationForm.get('name')?.invalid}"
          />
          <div *ngIf="validationTriggered && invitationForm.get('name')?.invalid" class="invalid-feedback">
            {{ 'INVITE.ERROR.FRONTEND.MISSING_FIELD.NAME' | translate }}
          </div>
        </div>

        <!-- Company -->
        <div class="form-group" *ngIf="entityName === 'company'">
          <label for="companyNumber">{{ 'INVITE.LABEL.COMPANY_NUMBER' | translate }}</label>
          <input
            type="text"
            id="companyNumber"
            formControlName="companyNumber"
            [placeholder]="'INVITE.PLACEHOLDER.COMPANY_NUMBER' | translate"
            class="form-control"
            [ngClass]="{'is-invalid': validationTriggered && invitationForm.get('companyNumber')?.invalid}"
          />
          <div *ngIf="validationTriggered && invitationForm.get('companyNumber')?.invalid" class="invalid-feedback">
            <ng-container *ngIf="invitationForm.get('companyNumber')?.errors?.['required']">
              {{ 'INVITE.ERROR.FRONTEND.MISSING_FIELD.COMPANY_NUMBER' | translate }}
            </ng-container>
            <ng-container *ngIf="invitationForm.get('companyNumber')?.errors?.['pattern']">
              {{ 'INVITE.ERROR.FRONTEND.INVALID_COMPANY_NUMBER' | translate }}
            </ng-container>
          </div>
        </div>

        <!-- Institution -->
        <div class="form-group" *ngIf="entityName === 'institution'">
          <label for="institutionTypeId">{{ 'INVITE.LABEL.INSTITUTION_TYPE' | translate }}</label>
          <select
            id="institutionTypeId"
            formControlName="institutionTypeId"
            class="form-control"
            [ngClass]="{'is-invalid': validationTriggered && invitationForm.get('institutionTypeId')?.invalid}"
          >
            <option [ngValue]="null">{{ 'INVITE.PLACEHOLDER.INSTITUTION_TYPE' | translate }}</option>
            <option *ngFor="let instType of institutionTypes" [ngValue]="instType.institutionTypeId">
              {{ instType.name }}
            </option>
          </select>
          <div *ngIf="validationTriggered && invitationForm.get('institutionTypeId')?.invalid" class="invalid-feedback">
            {{ 'INVITE.ERROR.FRONTEND.MISSING_FIELD.INSTITUTION_TYPE' | translate }}
          </div>
        </div>
      </ng-container>

      <!-- Email avec EmailInputComponent -->
      <div class="form-group">
        <app-email-input
          [form]="invitationForm"
          [fieldError]="fieldError"
          emailControlName="invitationEmail"
          [submitted]="validationTriggered"
        ></app-email-input>
      </div>

      <!-- Autres admins -->
      <ng-container *ngIf="!isSuperadmin">
        <div class="form-group">
          <label for="role">{{ 'INVITE.LABEL.ROLE' | translate }}</label>
          <select
            id="role"
            formControlName="role"
            class="form-control"
            [ngClass]="{'is-invalid': validationTriggered && invitationForm.get('role')?.invalid}"
          >
            <option value="">{{ 'INVITE.PLACEHOLDER.ROLE' | translate }}</option>
            <option *ngFor="let roleItem of roles" [value]="roleItem.roleId">{{ roleItem.name }}</option>
          </select>
          <div *ngIf="validationTriggered && invitationForm.get('role')?.invalid" class="invalid-feedback">
            {{ 'INVITE.ERROR.FRONTEND.MISSING_FIELD.ROLE' | translate }}
          </div>
        </div>
      </ng-container>

      <!-- Bouton -->
      <div class="form-group button-container">
        <button type="submit" class="btn-submit">
          {{ isSuperadmin ? ('INVITE.BUTTON.INVITE_ENTITY' | translate) : ('INVITE.BUTTON.INVITE_COLLEAGUE' | translate) }}
        </button>
      </div>
    </div>
  </form>
</div>
