<div class="container" *ngIf="!isLoading">
  <h3 class="text-center">{{ 'RESETPASSWORD.TITLE' | translate }}</h3>


  <!-- Étape OTP -->
  <form *ngIf="showOtpForm && !showForm" [formGroup]="form" (ngSubmit)="validateOtp()" class="doorz-vertical-form">
    <!-- OTP input -->
    <app-otp-input
      [form]="form"
      [submitted]="submitted"
      [otpControlName]="'otp'"
      [fieldError]="{}"
    ></app-otp-input>
    <div class="form-group">
      <button type="submit" class="btn-submit">
        {{ 'RESETPASSWORD.BUTTON.VALIDATE_OTP' | translate }}
      </button>
    </div>
  </form>

  <!-- ✅ Formulaire visible si token valide -->
  <form *ngIf="showForm" [formGroup]="form" (ngSubmit)="onSubmit()" class="doorz-vertical-form">
    <!-- Email (readonly) -->
    <div class="form-group">
      <label>{{ 'RESETPASSWORD.LABEL.EMAIL' | translate }}</label>
      <input type="email" formControlName="email" class="form-control" readonly />
    </div>

    <!-- Champs de mot de passe -->
    <app-password-input
      [form]="form"
      [fieldError]="{}"
      [submitted]="submitted"
      [passwordControlName]="'newPassword'"
      [confirmPasswordControlName]="'confirmPassword'"
      [passwordType]="'new'"
      [showConfirmPassword]="true"
    ></app-password-input>

    <!-- ✅ Bouton submit -->
    <div class="button-submit-container">
      <button type="submit" class="btn-submit">
        {{ 'RESETPASSWORD.BUTTON.SUBMIT' | translate }}
      </button>
    </div>
  </form>

  <!-- Erreur globale -->
  <div *ngIf="errorMessage && !showForm" class="error-message">
    {{ errorMessage | translate }}
  </div>

  <!-- ✅ Message succès (affiché après confirmation réussie) -->
  <div class="success-message" *ngIf="successMessage && !showForm">
    {{ successMessage | translate }}
  </div>
</div>
