<div class="cards-wrapper">
  <!-- Carte Étudiant -->
  <div class="container">
    <div class="header">
      <i class="fas fa-user-graduate icon-student"></i>
      <h4>{{ 'LOGIN.STUDENT_TITLE' | translate }}</h4>
    </div>
    <div class="card-content">
      <p [innerHTML]="'LOGIN.STUDENT_DESCRIPTION' | translate"></p>
      <a class="arrow-link" [routerLink]="['/register/public', 'student']" aria-label="S'inscrire en tant qu'étudiant">
        <i class="fas fa-arrow-right"></i>
      </a>
    </div>
  </div>

  <!-- Carte Bailleur Privé -->
  <div class="container">
    <div class="header">
      <i class="fas fa-home icon-landlord"></i>
      <h4>{{ 'LOGIN.LANDLORD_TITLE' | translate }}</h4>
    </div>
    <div class="card-content">
      <p [innerHTML]="'LOGIN.LANDLORD_DESCRIPTION' | translate"></p>
      <a class="arrow-link" [routerLink]="['/register/public', 'privateLandlord']" aria-label="S'inscrire en tant que bailleur privé">
        <i class="fas fa-arrow-right"></i>
      </a>
    </div>
  </div>

  <!-- Carte Professionnel -->
  <div class="container">
    <div class="header">
      <i class="fas fa-briefcase icon-professional"></i>
      <h4>{{ 'LOGIN.PROFESSIONAL_TITLE' | translate }}</h4>
    </div>
    <div class="card-content">
      <p [innerHTML]="'LOGIN.PROFESSIONAL_DESCRIPTION' | translate"></p>
      <a class="arrow-link" routerLink="/contact" aria-label="Contacter pour les professionnels">
        <i class="fas fa-arrow-right"></i>
      </a>
    </div>
  </div>
</div>
