<div [formGroup]="form">
  <div class="name-split-wrapper">
    <!-- Mot de passe -->
    <div class="form-group" *ngIf="showPassword">
      <label>
        {{ effectivePasswordLabelKey | translate }}
        <span class="required">*</span>
      </label>
      <input
        type="password"
        [formControlName]="passwordControlName"
        class="form-control"
        [placeholder]="effectivePasswordPlaceholderKey | translate"
        [ngClass]="{
          'is-invalid': (submitted || form.get(passwordControlName)?.touched) && (form.get(passwordControlName)?.invalid || fieldError[passwordControlName])
        }"
      />
      <div class="invalid-feedback" *ngIf="(submitted || form.get(passwordControlName)?.touched) && (form.get(passwordControlName)?.invalid || fieldError[passwordControlName])">
        <div *ngIf="fieldError[passwordControlName]">
          {{ fieldError[passwordControlName] | translate }}
        </div>
        <div *ngIf="!fieldError[passwordControlName] && form.get(passwordControlName)?.invalid">
          <ng-container *ngIf="form.get(passwordControlName)?.hasError('required') && !form.get(passwordControlName)?.value">
            {{ effectiveRequiredErrorKey | translate }}
          </ng-container>
          <ng-container *ngIf="form.get(passwordControlName)?.hasError('minlength')">
            {{ effectiveMinlengthErrorKey | translate }}
          </ng-container>
          <ng-container *ngIf="form.get(passwordControlName)?.hasError('pattern') && !form.get(passwordControlName)?.hasError('minlength')">
            {{ effectivePatternErrorKey | translate }}
          </ng-container>
        </div>
      </div>
    </div>

    <!-- Confirmation mot de passe -->
    <div class="form-group" *ngIf="showConfirmPassword">
      <label>
        {{ effectiveConfirmPasswordLabelKey | translate }}
        <span class="required">*</span>
      </label>
      <input
        type="password"
        [formControlName]="confirmPasswordControlName"
        class="form-control"
        [placeholder]="'PASSWORD_INPUT.PLACEHOLDER.CONFIRM_PASSWORD' | translate"
        [ngClass]="{
          'is-invalid': (submitted || form.get(confirmPasswordControlName)?.touched) && (form.get(confirmPasswordControlName)?.invalid || form.hasError('passwordMismatch'))
        }"
      />
      <div class="invalid-feedback" *ngIf="(submitted || form.get(confirmPasswordControlName)?.touched) && (form.get(confirmPasswordControlName)?.invalid || form.hasError('passwordMismatch'))">
        <div *ngIf="fieldError[confirmPasswordControlName]">
          {{ fieldError[confirmPasswordControlName] | translate }}
        </div>
        <div *ngIf="!fieldError[confirmPasswordControlName]">
          <ng-container *ngIf="form.get(confirmPasswordControlName)?.hasError('required') && !form.get(confirmPasswordControlName)?.value">
            {{ effectiveConfirmRequiredErrorKey | translate }}
          </ng-container>
          <ng-container *ngIf="form.hasError('passwordMismatch') && form.get(confirmPasswordControlName)?.value">
            {{ 'PASSWORD_INPUT.ERROR.PASSWORD_MISMATCH' | translate }}
          </ng-container>
        </div>
      </div>
    </div>
  </div>
</div>
