<form [formGroup]="form" (ngSubmit)="submit()" class="doorz-vertical-form">
  <!-- Mot de passe actuel -->
  <app-password-input
    [form]="form"
    [fieldError]="fieldError"
    [passwordControlName]="'currentPassword'"
    [submitted]="submitted"
    [showPassword]="true"
    [showConfirmPassword]="false"
    [passwordType]="'current'"
  ></app-password-input>

  <!-- Nouveau mot de passe et confirmation -->
  <app-password-input
    [form]="form"
    [fieldError]="fieldError"
    [passwordControlName]="'password'"
    [confirmPasswordControlName]="'confirmPassword'"
    [submitted]="submitted"
    [showPassword]="true"
    [showConfirmPassword]="true"
    [passwordType]="'new'"
  ></app-password-input>


  <!-- Afficher le error -->
  <div *ngIf="errorMessage" class="error-message">
    {{ errorMessage | translate :errorParams }}
  </div>

  <!-- Boutons d'action -->
  <app-action-buttons
    [actions]="[
      { action: 'cancel', labelKey: 'ACTIONS.CANCEL', iconClass: 'fas fa-times', styleClass: 'btn-secondary' },
      { action: 'submit', labelKey: 'ACTIONS.SUBMIT', iconClass: 'fas fa-save', styleClass: 'btn-primary' }
    ]"
    (actionClicked)="handleAction($event)"
  ></app-action-buttons>
</form>
