<div class="two-section-container">
  <div class="container left-container">
    <h3>
      {{
        roleName === 'student'
          ? ('REGISTERPUBLIC.TITLE_STUDENT' | translate)
          : ('REGISTERPUBLIC.TITLE_LANDLORD' | translate)
      }}
    </h3>

    <form [formGroup]="form" (ngSubmit)="onSubmit()" class="doorz-vertical-form">
      <!-- Email -->
      <app-email-input
        [form]="form"
        [fieldError]="fieldError"
        emailControlName="email"
        [submitted]="validationTriggered"
        [readonly]="false"
      ></app-email-input>
      <!-- Prénom -->
      <app-name-input
        [form]="form"
        [fieldError]="fieldError"
        [firstNameControlName]="'firstName'"
        [lastNameControlName]="'lastName'"
        [submitted]="validationTriggered"
        [mode]="'split'"
        [nameType]="'default'"
      ></app-name-input>


      <!-- Champs de mot de passe -->
      <app-password-input
        [form]="form"
        [fieldError]="fieldError"
        [passwordControlName]="'password'"
        [confirmPasswordControlName]="'confirmPassword'"
        [submitted]="validationTriggered"
        [showConfirmPassword]="true"
        [passwordType]="'default'"
      ></app-password-input>

      <!-- Consentements légaux -->
      <div class="form-group">
        <div class="legal-consent-container" [ngClass]="{'is-invalid': validationTriggered && consentError}">
          <app-legal-consent
            source="register-form"
            (consentsChanged)="onConsentsChanged($event)"
            (documentTypesLoaded)="setExpectedConsentKeys($event)"
          ></app-legal-consent>
          <div *ngIf="validationTriggered && consentError" class="invalid-feedback consent-error">
            <p *ngIf="hasMissingConsents()" class="error-intro">
              {{ 'REGISTER.CONSENT_ERROR_INTRO' | translate }}
            </p>
            <ul class="error-list">
              <ng-container *ngFor="let key of expectedConsentKeys">
                <li *ngIf="!legalConsents[key]">
                  {{ 'REGISTER.CONSENT_REQUIRED' | translate: {document: documentMap[key].name || key} }}
                </li>
              </ng-container>
            </ul>
            <ng-container *ngIf="expectedConsentKeys.length === 0">
              {{ 'REGISTER.ALL_CONSENTS_REQUIRED' | translate }}
            </ng-container>
          </div>
        </div>
      </div>

      <!-- Erreur globale -->
      <div *ngIf="globalError" class="error-message">
        {{ globalError | translate }}
      </div>

      <!-- Bouton -->
      <div class="button-container">
        <button type="submit" class="btn-submit">
          {{ 'REGISTERPUBLIC.BUTTON.SUBMIT' | translate }}
        </button>
      </div>
    </form>
  </div>
  <div class="container right-container">
    <app-call-to-action [type]="pageType"></app-call-to-action>
  </div>
</div>
