
<div class="global-search-header search-header ">
  <app-search-icon [type]="searchTypeToIconType[searchType]"></app-search-icon>
  <h3>{{ 'SEARCH.LABEL' | translate }} | {{ searchTitle | translate }}</h3>
</div>
<div class="container">
<form [formGroup]="searchForm" (ngSubmit)="onSubmit()" class="doorz-horizental-form">
  <div class="form-group">
    <label for="keywords">{{ 'SEARCH_FORM.KEYWORDS' | translate }}</label>
    <input
      type="text"
      id="keywords"
      formControlName="keywords"
      [placeholder]="'SEARCH.' + searchTypeToKey[searchType] + '.PLACEHOLDER.KEYWORDS' | translate"
  />
  </div>
  <div class="form-group">
    <label for="location">{{ 'SEARCH_FORM.LOCATION' | translate }}</label>
    <input
      type="text"
      id="location"
      formControlName="location"
      [placeholder]="'SEARCH.' + searchTypeToKey[searchType]  + '.PLACEHOLDER.LOCATION' | translate"
    />
  </div>
  <button type="submit" class="search-button">
    {{ 'SEARCH_FORM.SUBMIT' | translate }}
  </button>
</form>
</div>
