<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
  <div class="container-fluid">
    <!-- Bouton burger -->
    <button
      class="navbar-toggler order-0"
      type="button"
      [attr.aria-expanded]="isNavbarOpen"
      aria-controls="navbarSupportedContent"
      aria-label="Toggle navigation"
      (click)="toggleNavbar()"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Logo (original, affiché sauf pour ≤ 394px) -->
    <a class="navbar-brand order-1" (click)="navigateToHome()">{{ 'NAV.BRAND' | translate }}</a>

    <!-- Menu déroulant -->
    <div
      class="navbar-collapse navbar-dark bg-dark order-2 slide-menu"
      id="navbarSupportedContent"
      [ngClass]="{'show': isNavbarOpen || screenWidth >= 992}"
    >
      <!-- En-tête du menu mobile avec bouton de fermeture et logo pour ≤ 394px -->
      <div class="mobile-menu-header d-lg-none" *ngIf="isNavbarOpen || isClosingMenu" [ngClass]="{'closing': isClosingMenu}">
        <!-- Logo spécifique pour mobile (≤ 394px) -->
        <a class="mobile-brand d-none" (click)="navigateToHome()">{{ 'NAV.BRAND' | translate }}</a>
        <div class="close-menu-container">
          <button class="close-menu-btn" (click)="closeNavbar()" aria-label="Close menu">
            <span class="close-icon"></span>
          </button>
        </div>
      </div>

      <ul class="navbar-nav me-auto w-100 justify-content-lg-start">
        <!-- Menu public (non connecté) -->
        <ng-container *ngIf="!isAuthenticated">
          <!-- Menu étudiant public -->
          <ng-container *ngIf="requestor === 'student'">
            <li class="nav-item" *ngFor="let item of publicStudentMenu">
              <a class="nav-link" [routerLink]="item.link" (click)="clickStudent()">{{ item.label | translate }}</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/professionnel" (click)="clickProfessionel()">{{ 'NAV.PROFESSIONEL' | translate }}</a>
            </li>
          </ng-container>

          <!-- Menu professionnel public -->
          <ng-container *ngIf="requestor === 'professionnel'">
            <li class="nav-item" *ngFor="let item of publicProfessionalMenu">
              <a class="nav-link" [routerLink]="item.link" (click)="clickProfessionel()">{{ item.label | translate }}</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/student" (click)="clickStudent()">{{ 'NAV.STUDENTITEM' | translate }}</a>
            </li>
          </ng-container>
        </ng-container>

        <!-- Menu étudiant connecté -->
        <ng-container *ngIf="isAuthenticated && currentRole === 'student'">
          <li class="nav-item" *ngFor="let item of studentMenu">
            <a class="nav-link" [routerLink]="item.link" (click)="closeNavbar()">{{ item.label | translate }}</a>
          </li>
        </ng-container>

        <!-- Menu professionnel connecté (company, institution, association, public_organisation, landlord) -->
        <ng-container *ngIf="isAuthenticated && isProfessionalRole()">
          <li class="nav-item" *ngFor="let item of professionalMenu">
            <a
              class="nav-link"
              *ngIf="!item.subMenu"
              [routerLink]="item.link"
              (click)="closeNavbar()"
            >
              {{ item.label | translate }}
            </a>
            <!-- Sous-menu Publier -->
            <div class="nav-item dropdown" *ngIf="item.subMenu">
              <a
                class="nav-link dropdown-toggle"
                href="#"
                id="publishDropdown"
                role="button"
                [attr.data-bs-toggle]="screenWidth >= 992 ? 'dropdown' : null"
                [attr.aria-expanded]="screenWidth < 992 ? isPublishDropdownOpen : false"
                (click)="togglePublishDropdown($event)"
              >
                {{ item.label | translate }}
              </a>
              <ul
                class="dropdown-menu publish-dropdown-menu"
                aria-labelledby="publishDropdown"
                [ngClass]="{'show': screenWidth < 992 && isPublishDropdownOpen}"
              >
                <li *ngFor="let subItem of item.subMenu">
                  <a
                    class="dropdown-item"
                    [routerLink]="subItem.link"
                    (click)="closeNavbar()"
                  >
                    {{ subItem.label | translate }}
                  </a>
                </li>
              </ul>
            </div>
          </li>
          <!-- Menu admin (inviter collègues) -->
          <li
            class="nav-item"
            *ngIf="currentSubRole === 'admin' && ['company', 'institution', 'association', 'public_organisation'].includes(currentRole || '')"
          >
            <a class="nav-link" [routerLink]="getAdminInviteLink()" (click)="closeNavbar()">{{ 'NAV.INVITE_COLLEAGUES' | translate }}</a>
          </li>
        </ng-container>

        <!-- Menu superadmin -->
        <ng-container *ngIf="isAuthenticated && currentRole === 'superadmin'">
          <li class="nav-item" *ngFor="let item of superadminMenu">
            <a class="nav-link" [routerLink]="item.link" (click)="closeNavbar()">{{ item.label | translate }}</a>
          </li>
        </ng-container>
      </ul>
    </div>

    <!-- Profil et langues (desktop et mobile) -->
    <ul class="navbar-nav ms-auto align-items-center second-nav order-3">
      <!-- Menu déroulant pour les langues (visible partout) -->
      <li class="nav-item dropdown">
        <a
          class="nav-link dropdown-toggle lang-link"
          href="#"
          id="languageDropdown"
          role="button"
          data-bs-toggle="dropdown"
          aria-expanded="false"
        >
          {{ getCurrentLanguageDisplay() }}
        </a>
        <ul class="dropdown-menu dropdown-menu-end lang-dropdown-menu" aria-labelledby="languageDropdown">
          <li *ngFor="let lang of languages">
            <a
              class="dropdown-item lang-link"
              href="#"
              (click)="changeLang(lang.code, $event)"
            >
              {{ lang.display }}
            </a>
          </li>
        </ul>
      </li>

      <!-- Connexion / profil -->
      <li class="nav-item" *ngIf="!isAuthenticated">
        <a class="nav-link text-white" id="connect" (click)="redirectToLogin()">
          {{ 'NAV.LOGIN' | translate }}
        </a>
      </li>
      <li class="nav-item" *ngIf="isAuthenticated">
        <app-profile-dropdown (navbarClosed)="onNavbarClosed()"></app-profile-dropdown>
      </li>
    </ul>
  </div>
</nav>
