<div class="container">
  <h3 class="text-center">{{ 'RESETPASSWORD.TITLE' | translate }}</h3>

  <form [formGroup]="form" (ngSubmit)="onSubmit()" class="doorz-vertical-form">
    <!-- Champ Email -->
    <app-email-input
      [form]="form"
      [fieldError]="{}"
      emailControlName="email"
      [submitted]="submitted"
    ></app-email-input>

    <!-- Bouton -->
    <div class="button-submit-container">
      <button type="submit" class="btn-submit" [disabled]="loading || form.invalid">
        {{ loading ? ('SHARED.LOADING' | translate) : ('RESETPASSWORD.BUTTON.SUBMIT' | translate) }}
      </button>
    </div>
  </form>

  <!-- Message de confirmation -->
  <div class="error-message" *ngIf="message">
    <p class="text-success">
      {{ message | translate }}
    </p>
  </div>
</div>
