/* Styles pour app component */
.main-wrapper {
  box-sizing: border-box;
  width: 100%;
  display: flow-root; /* Prévenir l'effondrement de marges */
  margin-left: 0; /* Éviter les marges externes */
  margin-right: 0;
  padding-left: 20px; /* Padding standard pour desktop (≥ 992px) */
  padding-right: 20px;
  margin-bottom: 20px;
}
.navbar-wrapper {
  width: 100%;
  margin-bottom: 100px;
}

@media screen and (max-width: 991px) {
  .main-wrapper {
    padding-left: 10px; /* Supprime le padding gauche */
    padding-right: 10px; /* Supprime le padding droit */
    max-width: 100%; /* Pleine largeur pour éviter les marges externes */
  }
}

@media screen and (max-width: 991px) {
  .navbar-wrapper {
    margin-bottom: 60px; /* Tablette et mobile (≤ 991px) */
  }
  .main-wrapper {
    margin-bottom: 10px;
  }
}

@media screen and (max-width: 575px) {
  .navbar-wrapper {
    margin-bottom: 60px; /* Mobile (≤ 575px) */
  }
}

@media screen and (min-width: 261px) and (max-width: 394px) {
  .navbar-wrapper {
    margin-bottom: 60px; /* 261px–394px */
  }
}

@media screen and (max-width: 260px) {
  .navbar-wrapper {
    margin-bottom: 70px; /* ≤ 260px */
  }
}


@media screen and (max-width: 991px) {
  .main-wrapper {
    padding-left: 10px;
    padding-right: 10px;
    max-width: 100%;
    margin-bottom: 20px; /* Tablette/mobile (≤ 991px) */
  }
}

@media screen and (max-width: 575px) {
  .main-wrapper {
    margin-bottom: 20px; /* Mobile (≤ 575px) */
    padding-left: 10px;
    padding-right: 10px;
  }
}
