<div class="icon-wrapper" >
  <svg width="34" height="33" viewBox="0 0 34 33" fill="none" xmlns="http://www.w3.org/2000/svg">
    <rect  [ngClass]="type" x="2" y="24" width="30" height="4"/>
    <rect  [ngClass]="type" x="2" y="4" width="30" height="4"/>
    <rect  [ngClass]="type" x="2" y="14" width="30" height="4"/>
    <ellipse  [ngClass]="type" cx="6" cy="6" rx="6" ry="6"
             transform="matrix(0.999995 0.00331221 -0.000456771 1 19.0044 10)"/>
    <circle [ngClass]="type" cx="6" cy="6" r="6" transform="matrix(0.999994 0.00352852 -0.00042877 1 7.00471 0)"/>
    <ellipse  [ngClass]="type" cx="6" cy="6" rx="6" ry="6"
             transform="matrix(0.999995 0.00331221 -0.000456771 1 7.00548 20)"/>
    <circle  [ngClass]="type" cx="32" cy="6" r="2"/>
    <circle  [ngClass]="type" cx="2" cy="6" r="2"/>
    <circle  [ngClass]="type" cx="32" cy="16" r="2"/>
    <circle  [ngClass]="type" cx="2" cy="16" r="2"/>
    <circle  [ngClass]="type" cx="32" cy="26" r="2"/>
    <circle  [ngClass]="type" cx="2" cy="26" r="2"/>
  </svg>

</div>
