<div [formGroup]="form">
  <!-- Mot de passe -->
  <div class="form-group">
    <label>
      {{ 'PASSWORD_INPUT.LABEL.PASSWORD' | translate }}
      <span class="required">*</span>
    </label>
    <input
      type="password"
      [formControlName]="passwordControlName"
      class="form-control"
      [ngClass]="{
        'is-invalid': (submitted || form.get(passwordControlName)?.touched) && (form.get(passwordControlName)?.invalid || fieldError[passwordControlName])
      }"
    />
    <div class="invalid-feedback" *ngIf="(submitted || form.get(passwordControlName)?.touched) && (form.get(passwordControlName)?.invalid || fieldError[passwordControlName])">
      <div *ngIf="fieldError[passwordControlName]">
        {{ fieldError[passwordControlName] | translate }}
      </div>
      <div *ngIf="!fieldError[passwordControlName] && form.get(passwordControlName)?.invalid">
        <ng-container *ngIf="form.get(passwordControlName)?.hasError('required') && !form.get(passwordControlName)?.value">
          {{ 'PASSWORD_INPUT.ERROR.PASSWORD_REQUIRED' | translate }}
        </ng-container>
        <ng-container *ngIf="form.get(passwordControlName)?.hasError('minlength')">
          {{ 'PASSWORD_INPUT.ERROR.PASSWORD_MINLENGTH' | translate }}
        </ng-container>
        <ng-container *ngIf="form.get(passwordControlName)?.hasError('pattern') && !form.get(passwordControlName)?.hasError('minlength')">
          {{ 'PASSWORD_INPUT.ERROR.PASSWORD_PATTERN' | translate }}
        </ng-container>
      </div>
    </div>
  </div>

  <!-- Confirmation mot de passe -->
  <div class="form-group">
    <label>
      {{ 'PASSWORD_INPUT.LABEL.CONFIRM_PASSWORD' | translate }}
      <span class="required">*</span>
    </label>
    <input
      type="password"
      [formControlName]="confirmPasswordControlName"
      class="form-control"
      [ngClass]="{
        'is-invalid': (submitted || form.get(confirmPasswordControlName)?.touched) && (form.get(confirmPasswordControlName)?.invalid || form.hasError('passwordMismatch'))
      }"
    />
    <div class="invalid-feedback" *ngIf="(submitted || form.get(confirmPasswordControlName)?.touched) && (form.get(confirmPasswordControlName)?.invalid || form.hasError('passwordMismatch'))">
      <div *ngIf="fieldError[confirmPasswordControlName]">
        {{ fieldError[confirmPasswordControlName] | translate }}
      </div>
      <div *ngIf="!fieldError[confirmPasswordControlName]">
        <ng-container *ngIf="form.get(confirmPasswordControlName)?.hasError('required') && !form.get(confirmPasswordControlName)?.value">
          {{ 'PASSWORD_INPUT.ERROR.CONFIRM_PASSWORD_REQUIRED' | translate }}
        </ng-container>
        <ng-container *ngIf="form.hasError('passwordMismatch') && form.get(confirmPasswordControlName)?.value">
          {{ 'PASSWORD_INPUT.ERROR.PASSWORD_MISMATCH' | translate }}
        </ng-container>
      </div>
    </div>
  </div>
</div>
