

/* Section inférieure */
.bottom-section, .top-section {
  background: none !important;
  box-shadow: none !important;
  width: 100%;
  height: 100%;
  max-width: 1200px;
  align-self: center;
  margin: 0 !important;
  padding: 0 !important;
}










