<div class="full-wrapper">
  <!-- Contenu principal -->
  <div class="section-container top-section" *ngIf="menuType === 'student' || menuType ===''">
  <app-student-landingpage ></app-student-landingpage>
  </div>

  <!-- Sections professionnelles : uniquement pour menuType === 'professionnel' -->
  <div class="section-container top-section" *ngIf="menuType === 'professionnel'">
  <app-professionnel-landingpage ></app-professionnel-landingpage>
  </div>
  <!-- Section inférieure : uniquement pour menuType === 'student' ou 'professionnel' -->
  <div class="section-container bottom-section" *ngIf="menuType === 'student' || menuType === 'professionnel' || menuType === ''">
    <app-call-to-action [type]="'login'"></app-call-to-action>
  </div>
</div>
